{% extends '@App/base.html.twig' %}

{% block body %}
    <div>
        <H3>--- Spent time on project ---</H3>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8 form-control">
            {{ form(form) }}
        </div>
        <div class="col-md-3"></div>
    </div>
    <a href="{{ path('listProjects') }}">Projects</a><br>
    <a href="{{ path('homepage') }}">Main</a>
{% endblock %}

