{% extends '@App/base.html.twig' %}

{% block body %}
    <h2><span class="small">Welcome to</span> our site :)</h2>
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <H3 class="text-lg-left"><a href="{{ path('listProjects') }}">list of Redmine project</a></H3>
    </div>
    <div class="col-md-3"></div>
    <p>{{ data }}</p>
{% endblock %}
